<ion-header>
  <ion-navbar>
    <ion-title>{{ quoteGroup.category | uppercase }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let quote of quoteGroup.quotes">
    <ion-card-header text-center>
      {{ quote.id }}
    </ion-card-header>
    <ion-card-content>
      <p>{{ quote.text }} <br>
         <span class="author" text-left> - {{ quote.person }}</span></p>
    </ion-card-content>

    <ion-col *ngIf="!isFavorite(quote)">
      <button ion-button clear (click)="onFavorite(quote)">Favorite</button>
    </ion-col>
    <ion-col *ngIf="isFavorite(quote)">
      <button ion-button clear color="danger" (click)="onUnfavorite(quote)">Unfavorite</button>
    </ion-col>

  </ion-card>




</ion-content>